.app-list-item {
    font-size: 1.25rem;
}

.app-list-item button {
    width: 35px;
    height: 35px;
    margin: 3px;

    cursor: pointer;

    border: none;

    font-size: 17px;
}

.app-list-item button:focus {
    outline: none;
    box-shadow: none;
}

.app-list-item .btn-star {
    color: #FFD700;
}

.app-list-item .btn-trash {
    color: red;
}

.app-list-item .fa-heart {
    width: 35px;
    height: 35px;

    transition: 0.3s all;
    transform: translateX(30px);
    text-align: center;

    opacity: 0;
    color: red;

    font-size: 16px;
    line-height: 35px;
}

.app-list-item-label {
    display: block;

    cursor: pointer;
    user-select: none;
    transition: 0.5s all;

    line-height: 35px;
}

.app-list-item.like .fa-heart {
    transform: translateX(0px);

    opacity: 1;
}

.app-list-item.important .app-list-item-label {
    color: #FFD700;
}

.app-list-item.important .btn-star {
    color: #aeaeae;
}